<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.springboot.dlc.mapper.SysMenuMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, interfaceName, interfaceUrl, pageUrl, fid, interfaceType, orderBy, isFlag
    </sql>

    <update id="setAuthorityByRole">
        insert into sys_role_menu (roleId,menuId) values
        <foreach collection="menus" item="item" index="index" separator=",">
            (#{roleId}, #{item})
        </foreach>
    </update>

    <delete id="delAuthorityById">
        delete from sys_role_menu
        <trim prefix="where" prefixOverrides="and | or">
            <if test="roleId != null and roleId != ''">
                and roleId = #{roleId}
            </if>
            <if test="menuId != null and menuId != ''">
                and menuId = #{menuId}
            </if>
        </trim>
    </delete>

    <select id="findModelerByRoleId" resultType="com.springboot.dlc.entity.SysMenu">
        SELECT
        <include refid="Base_Column_List"/>
        FROM sys_menu me
        WHERE me.id IN(SELECT rm.menuId FROM sys_role_menu rm WHERE fid IS NULL
        <if test="_parameter != null">
            AND rm.roleId = #{roleId}
        </if>
        )
        ORDER BY me.orderBy ASC
    </select>

</mapper>
