<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.springboot.dlc.mapper.WxAgentMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        agentId, agentAccount, agentPassWord, agentName, agentPhone, agentProvince, agentCity, agentArea, hospitalId, isFlag, roleId, cTime, commissionRatio
    </sql>


    <resultMap id="BaseAgent" type="com.springboot.dlc.entity.WxAgent">
        <id column="agentId" property="agentId"/>
        <result column="agentAccount" property="agentAccount"/>
        <result column="agentPassWord" property="agentPassWord"/>
        <result column="agentName" property="agentName"/>
        <result column="agentPhone" property="agentPhone"/>
        <result column="agentProvince" property="agentProvince"/>
        <result column="agentCity" property="agentCity"/>
        <result column="agentArea" property="agentArea"/>
        <result column="hospitalId" property="hospitalId"/>
        <result column="isFlag" property="isFlag"/>
        <result column="a_roleId" property="roleId"/>
        <result column="a_cTime" property="cTime"/>
        <result column="commissionRatio" property="commissionRatio"/>
        <association property="wxRole" javaType="com.springboot.dlc.entity.WxRole">
            <id column="r_roleId" property="roleId"/>
            <result column="roleName" property="roleName"/>
            <result column="roleLevel" property="roleLevel"/>
            <result column="r_cTime" property="cTime"/>
        </association>
    </resultMap>
    <sql id="Base_Agent_Role">
        a.agentId,a.agentAccount,a.agentPassWord,a.agentName,a.agentPhone,a.agentProvince,a.agentCity,a.agentArea,a.hospitalId,a.isFlag,a.roleId AS a_roleId,a.cTime AS a_cTime,a.commissionRatio,r.roleId AS r_roleId ,r.roleName,r.cTime AS r_cTime,r.roleLevel
    </sql>

    <select id="findAgentAndRole" resultMap="BaseAgent">
        SELECT
        <include refid="Base_Agent_Role"/>
        FROM wx_agent a
        INNER JOIN wx_role r ON r.roleId = a.roleId
    </select>
</mapper>
